Repository yfge/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

refactor: extract input ask handler to separate module
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/utils.py
Due: none

fix
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

feat: add answer
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/consts.py
Due: none

feat: improve cook web google login localization
  src/cook-web/public/locales/en-US.json
  src/cook-web/public/locales/zh-CN.json
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/TermsCheckbox.tsx
Due: prettier-cook-web, eslint

feat: consolidate user migration and google i18n
  src/api/migrations/versions/335301139812_add_user_migrate.py
  src/api/migrations/versions/6abcf5af2758_add_new_user_models.py
  src/api/migrations/versions/7e2a1c3d4b5a_add_user_identify_to_user_users.py
  src/cook-web/public/locales/en-US.json
  src/cook-web/public/locales/zh-CN.json
Due: prettier-cook-web

docs: clarify google oauth redirect handling
  src/cook-web/README.md
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  tasks.md
Due: prettier-cook-web, eslint

fix: derive google oauth redirect from request origin
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/config/environment.ts
Due: prettier-cook-web, eslint

docs: remove obsolete google redirect env references
  src/cook-web/README.md
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
Due: prettier-cook-web

feat: derive google oauth redirect from request host
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/auth/providers/google.py
  tasks.md
Due: none

refactor: inline google oauth redirect and scopes
  src/api/flaskr/common/config.py
  src/api/flaskr/service/user/auth/providers/google.py
  src/cook-web/README.md
Due: prettier-cook-web

refactor: inline google oauth redirect and scopes
  docker/.env.example.full
Due: none

chore: remove unused google auth asset
  google-auth.png
Due: none

style: refresh google login icon
  src/cook-web/src/c-assets/icons/google-logo.png
  src/cook-web/src/components/auth/GoogleLoginButton.tsx
Due: prettier-cook-web, eslint

refactor: drop google oauth redirect config
  src/cook-web/src/app/api/config/route.ts
  src/cook-web/src/config/ENVIRONMENT_CONFIG.md
  src/cook-web/src/config/environment.ts
  src/cook-web/src/hooks/useGoogleAuth.ts
  tasks.md
Due: prettier-cook-web, eslint

fix: center terms agreement text
  src/cook-web/src/components/TermsCheckbox.tsx
Due: prettier-cook-web, eslint

fix: correct user model column definitions
  src/api/flaskr/service/user/models.py
Due: none

fix: update migration to match model constraints
  src/api/migrations/versions/6abcf5af2758_add_new_user_models.py
Due: none

fix: add unique constraint to UserInfo.user_bid
  src/api/flaskr/service/user/models.py
Due: none

fix: remove unnecessary noqa directives and sort __all__
  src/api/flaskr/service/user/auth/__init__.py
  src/api/flaskr/service/user/auth/providers/__init__.py
Due: none

Update src/api/flaskr/service/user/models.py
  src/api/flaskr/service/user/models.py
Due: none

chore: remove unique
  src/api/flaskr/service/user/models.py
  src/api/migrations/versions/6abcf5af2758_add_new_user_models.py
Due: none

fix: order pay error
  src/api/flaskr/i18n/en-US/order/consts.py
  src/api/flaskr/i18n/zh-CN/order/consts.py
  src/api/flaskr/i18n/zh-CN/order/errors.py
  src/api/flaskr/service/learn/context.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/exceptions.py
Due: none

feat: add next chapter button
  src/api/flaskr/i18n/en-US/learn/consts.py
  src/api/flaskr/i18n/zh-CN/learn/consts.py
  src/api/flaskr/service/learn/const.py
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

fix: input record
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: ask record missing after reload
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/handle_input_ask.py
Due: none

fix: typo
  src/api/flaskr/service/learn/const.py
Due: none

fix: handle None generated_block in context_v2 to prevent AttributeError
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: handle None generated_block in context_v2 to prevent AttributeError (#815)
  src/api/flaskr/service/learn/context_v2.py
Due: none

refactor: extract input ask handler to separate module (#813)
  src/api/flaskr/i18n/en-US/learn/consts.py
  src/api/flaskr/i18n/en-US/order/consts.py
  src/api/flaskr/i18n/zh-CN/learn/consts.py
  src/api/flaskr/i18n/zh-CN/order/consts.py
  src/api/flaskr/i18n/zh-CN/order/errors.py
  src/api/flaskr/service/learn/const.py
  src/api/flaskr/service/learn/context.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/exceptions.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/utils.py
  src/api/flaskr/service/shifu/consts.py
Due: none

feat: add ask button & panel (#814)
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/public/locales/en-US.json
  src/cook-web/public/locales/zh-CN.json
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/AskBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatComponents.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/GlobalInfoButton.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseCatalog.tsx
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/CourseCatalog/CourseSection.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/hooks/useLessonTree.ts
  src/cook-web/src/app/c/[[...id]]/page.module.css
  src/cook-web/src/app/c/[[...id]]/page.module.scss
  src/cook-web/src/app/c/[[...id]]/page.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-assets/newchat/light/icon_ask.svg
  src/cook-web/src/c-assets/newchat/light/icon_shifu.svg
  src/cook-web/src/c-store/useCourseStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

fix: improve mdflow record handling and chapter reset logic
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/cook-web/src/c-api/lesson.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

fix: restore origin
  src/cook-web/src/c-api/lesson.ts
  src/cook-web/src/lib/request.ts
Due: prettier-cook-web, eslint

feat:reorder questions
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

chore: remove log
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

Update src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

fix: record order
  src/api/flaskr/service/learn/learn_funcs.py
Due: none

fix:reload
  src/api/flaskr/service/learn/context_v2.py
Due: none

fix: normalize profile updates for dto inputs
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: normalize profile updates for dto inputs (#819)
  src/api/flaskr/service/profile/funcs.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
