Repository yfge/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

feat(ask): add coze workflow provider + dify context query
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

fix(ask): hide dify extra settings from ui
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.97 (#1404)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: upgrade markdown-flow-ui version to 0.1.98 (#1405)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add dashboard order drilldown
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/orders/page.test.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: move dashboard orders route helper out of page
  src/cook-web/src/app/admin/dashboard/admin-dashboard-routes.ts
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

fix: hide email copy in cn password login (#1409)
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/components/auth/PasswordLogin.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/auth.json
  src/i18n/zh-CN/modules/auth.json
Due: prettier-cook-web, eslint

fix: update dashboard labels and add data scope note (#1407)
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/i18n/en-US/modules/dashboard.json
  src/i18n/zh-CN/modules/dashboard.json
Due: prettier-cook-web, eslint

fix: grant demo course permissions for auto-created invite users (#1412)
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/user/test_demo_course_permissions.py
Due: none

fix: stabilize sms learning record binding flow (#1406)
  src/api/flaskr/route/user.py
  src/api/flaskr/service/user/phone_flow.py
  src/cook-web/src/app/login/page.tsx
  src/cook-web/src/c-api/user.ts
  src/cook-web/src/components/auth/PhoneLogin.tsx
  src/cook-web/src/hooks/useAuth.ts
  src/cook-web/src/store/useUserStore.ts
Due: prettier-cook-web, eslint

fix: align system profile values across read/write flows (#1411)
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/user/common.py
  src/api/tests/test_user.py
Due: none

refactor(config): remove coze env settings for ask providers
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
Due: none

refactor(learn): inline volc sigv4 signing for ask provider
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/service/learn/ask_provider_adapters/volc_knowledge_adapter.py
  src/api/requirements.txt
  src/api/tests/service/learn/test_ask_provider_adapters.py
  tasks.md
Due: none

refactor(shifu): align ask model with provider level
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: guard set_visual_mode for markdown_flow compatibility (#1390)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

feat(cook-web): add ask provider controls in shifu settings
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
  tasks.md
Due: prettier-cook-web, eslint

test(shifu): cover ask provider config draft detail roundtrip
  src/api/tests/service/shifu/test_shifu_draft_info.py
  tasks.md
Due: none

feat(shifu): move ask provider credentials to shifu config
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  tasks.md
Due: none

test(cook-web): add ask provider schema validation tests
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/ask-provider-schema.test.ts
  src/cook-web/src/components/shifu-setting/ask-provider-schema.ts
  tasks.md
Due: prettier-cook-web, eslint

Feat/teacher analytics dashboard (#1371)
  .github/workflows/build-latest.yml
  docs/dashboard-entry-page.md
  docs/teacher-analytics-dashboard.md
  src/api/flaskr/service/dashboard/__init__.py
  src/api/flaskr/service/dashboard/dtos.py
  src/api/flaskr/service/dashboard/funcs.py
  src/api/flaskr/service/dashboard/routes.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/api/api.ts
  src/cook-web/src/app/admin/dashboard/page.tsx
  src/cook-web/src/app/admin/layout.tsx
  src/cook-web/src/app/globals.css
  src/cook-web/src/components/charts/ChartCard.tsx
  src/cook-web/src/components/charts/EChart.tsx
  src/cook-web/src/lib/charts/options.ts
  src/cook-web/src/types/dashboard.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/dashboard.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/dashboard.json
  tasks.md
Due: prettier-cook-web, eslint

fix: enforce refresh-only close behavior for draft conflict dialog (#1386)
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

feat(shifu): expose ask provider fields in detail api
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  tasks.md
Due: none

feat(shifu): persist ask provider config across publish import export
  src/api/flaskr/service/shifu/shifu_import_export_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  tasks.md
Due: none

refactor(learn): split ask providers into decoupled modules
  src/api/flaskr/service/learn/ask_provider_adapters.py
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/base.py
  src/api/flaskr/service/learn/ask_provider_adapters/common.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
Due: none

feat(learn): add volcengine knowledge ask provider
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/learn/ask_provider_adapters/volc_knowledge_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  tasks.md
Due: none

feat(shifu): add ask provider config column
  src/api/flaskr/service/shifu/models.py
  src/api/migrations/versions/e1b2c3d4e5f6_add_ask_provider_config_to_shifu.py
  tasks.md
Due: none

feat(shifu): mask ask provider api key fields
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/components/shifu-setting/ask-provider-schema.ts
  tasks.md
Due: prettier-cook-web, eslint

refactor(learn): fully decouple ask provider handlers
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/base.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/llm_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  tasks.md
Due: none

refactor(shifu): always enable ask providers
  src/api/flaskr/common/config.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

build(api): add volcengine sdk dependency
  src/api/requirements.txt
Due: none

feat: add lesson history restore confirmation preview (#1384)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/service/shifu/test_mdflow_history_routes.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

chore: Update markdown-flow dependency package (#1394)
  src/api/requirements.txt
Due: none

docs(tasks): mark frontend quality gate complete
  tasks.md
Due: none

docs(tasks): update quality gate execution status
  tasks.md
Due: none

refactor: Remove the visual_mode parameter in MdflowContextV2 (#1387)
  src/api/requirements.txt
Due: none

refactor(shifu): minimize ask provider config fields
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: none

feat: add ask preview test in shifu settings
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix(shifu): flatten ask provider selection
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: profile variable scope mismatch between settings page and run interface (#1385)
  src/api/flaskr/service/profile/funcs.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
