Repository yfge/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: typo
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
Due: none

feat: add data done
  src/api/flaskr/service/learn/runscript_v2.py
Due: none

fix
  src/api/flaskr/service/learn/runscript_v2.py
Due: none

fix: run to block
  src/api/flaskr/service/learn/context_v2.py
Due: none

feat: add api support for new cook with mdflow (#816)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_dtos.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/shifu/consts.py
  src/api/flaskr/service/shifu/dtos.py
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_block_funcs.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/user/exceptions.py
  src/api/migrations/versions/b99fb0d80bab_alter_log_struct.py
Due: none

Refactor: Rename lesson_map to outline_item_map for clarity
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
Due: none

ci: update release documents
  .github/workflows/prepare-release.yml
Due: none

feat: add llm model config metadata
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/route/config.py
Due: none

feat: support llm model metadata in ui
  src/cook-web/src/c-store/envStore.ts
  src/cook-web/src/c-types/store.ts
  src/cook-web/src/components/model-list/ModelList.tsx
  src/cook-web/src/config/environment.ts
  src/cook-web/src/lib/initializeEnvData.ts
Due: prettier-cook-web, eslint

ci: show contributors in release draft
  .github/workflows/prepare-release.yml
Due: none

chore: undo shifu creator-only patch
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

fix: limit admin orders to creator courses
  src/api/flaskr/route/order.py
  src/api/flaskr/service/order/admin.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
Due: none

feat: streamline admin order detail view
  src/cook-web/src/app/admin/orders/page.tsx
  src/cook-web/src/components/order/OrderDetailSheet.tsx
  src/i18n/en-US/modules/order.json
  src/i18n/zh-CN/modules/order.json
Due: prettier-cook-web, eslint

merge
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix
  src/api/flaskr/api/llm/__init__.py
Due: none

fix: ensure LLM usage records are persisted in production environment
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/service/metering/recorder.py
Due: none

fix(metering): isolate usage recorder session
  src/api/flaskr/service/metering/recorder.py
Due: none

fix(learn): include ask/answer slide segmentation in history records
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/tests/service/learn/test_learn_record_slides.py
Due: none

test(learn): align slide builder assertions with markdown text slides
  src/api/tests/service/learn/test_learn_record_slides.py
  src/api/tests/service/learn/test_listen_slide_builder.py
Due: none

fix: avoid empty learn run response on lock conflict
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/tests/service/learn/test_runscript_v2_lock.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
Due: none

fix: prevent duplicated fixed output after interaction
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: realign learn run index after interaction submit
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: ignore empty learn run input for interaction guards
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_learn_funcs.py
Due: none

fix: db migration version
  src/api/migrations/versions/3ef04a9b5d37_add_position_to_learn_generated_audios.py
Due: none

fix: avoid no-permission toast for readonly course users (#1375)
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
Due: prettier-cook-web, eslint

fix: show course card menu when hovering the card (#1379)
  src/cook-web/src/app/admin/page.tsx
Due: prettier-cook-web, eslint

fix: reduce false mobile 404 redirects on c course page (#1382)
  docs/mobile-404-sequencing-followup.md
  src/cook-web/src/__tests__/c-preview-layout.test.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModal.tsx
  src/cook-web/src/app/c/[[...id]]/Components/Pay/PayModalM.tsx
  src/cook-web/src/app/c/[[...id]]/layout.tsx
  src/cook-web/src/c-api/course.ts
  src/i18n/en-US/common/core.json
  src/i18n/zh-CN/common/core.json
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.94 (#1383)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add lesson content history panel and restore (#1377)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: scope draft conflict notifications to current outline (#1378)
  src/api/flaskr/service/shifu/models.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_history_manager.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/migrations/versions/f0c1e2d3a4b5_add_outline_lookup_composite_index.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
Due: prettier-cook-web, eslint

fix: run context uses same profile storage rules
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: profile variable scope mismatch between settings page and run interface
  src/api/flaskr/service/profile/funcs.py
Due: none

fix: enforce refresh-only close behavior for draft conflict dialog (#1386)
  src/cook-web/src/components/shifu-edit/DraftConflictDialog.tsx
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/components/ui/Dialog.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.95 (#1388)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat: add lesson history restore confirmation preview (#1384)
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/tests/service/shifu/test_mdflow_history_routes.py
  src/api/tests/test_mdflow_adapter.py
  src/cook-web/src/api/api.ts
  src/cook-web/src/components/shifu-edit/ShifuEdit.tsx
  src/cook-web/src/store/useShifu.tsx
  src/cook-web/src/types/shifu.ts
  src/i18n/en-US/modules/shifu.json
  src/i18n/zh-CN/modules/shifu.json
Due: prettier-cook-web, eslint

fix: profile variable scope mismatch between settings page and run interface (#1385)
  src/api/flaskr/service/profile/funcs.py
Due: none

refactor: Remove the visual_mode parameter in MdflowContextV2 (#1387)
  src/api/requirements.txt
Due: none

fix: guard set_visual_mode for markdown_flow compatibility
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

fix: guard set_visual_mode for markdown_flow compatibility (#1390)
  src/api/flaskr/service/learn/context_v2.py
  src/api/tests/service/learn/test_context_v2.py
Due: none

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
