Repository yfge/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

prettier-cook-web:
  name: Prettier cook-web files
  entry: prettier
  language: node
  args:
  - --write
  - --config
  - src/cook-web/.prettierrc
  additional_dependencies:
  - prettier@^3.5.3

eslint:
  name: ESLint cook-web files (errors only)
  entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
  language: system

fix: allow duplicate course names when creating shifus (#1395)
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/shifu.json
  src/i18n/zh-CN/modules/backend/shifu.json
Due: prettier-cook-web, eslint

docs(shifu): align ask provider secret strategy wording
  docs/follow-up-model-and-kb-design.md
Due: none

fix: remove archive action from course settings panel (#1396)
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
Due: prettier-cook-web, eslint

fix: Update markdown-flow dependent versions (#1392)
  src/api/requirements.txt
Due: none

fix(ask): hide dify extra settings from ui
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

test(learn): cover ask provider routing and adapters
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  tasks.md
Due: none

docs: add follow-up model and provider design
  docs/follow-up-model-and-kb-design.md
Due: none

refactor(llm): remove dify env and model registration
  docker/.env.example.full
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/common/config.py
  src/api/tests/conftest.py
Due: none

feat: upgrade markdown-flow-ui version to 0.1.95 (#1388)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

feat(shifu): add ask provider routing and config metadata
  docker/.env.example.full
  src/api/flaskr/common/config.py
  src/api/flaskr/service/learn/ask_provider_adapters.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/learn/utils_v2.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/zh-CN/modules/backend/learn.json
  tasks.md
Due: none

fix(profile): prefer variable_bid when resolving latest value
  src/api/flaskr/service/profile/funcs.py
Due: none

config: migrate OSS URLs from resource.ai-shifu.{cn,com} to res.ai-shifu.{cn,com}
  scripts/migrate_oss_url.py
  src/api/demo_shifus/cn_demo.json
  src/api/demo_shifus/en_demo.json
Due: none

fix(tts): upload TTS audio to user OSS profile instead of courses profile
  src/api/flaskr/service/tts/tts_handler.py
Due: none

chore(scripts): add DB migration script for OSS domain rename
  scripts/migrate_oss_domain.py
Due: none

fix(tts): upload TTS audio to user OSS profile instead of courses profile (#1414)
  src/api/flaskr/service/tts/tts_handler.py
Due: none

chore(scripts): harden migrate_oss_domain.py based on code review
  scripts/migrate_oss_domain.py
Due: none

chore(scripts): add DB migration script for OSS domain rename (#1415)
  scripts/migrate_oss_domain.py
Due: none

chore(scripts): simplify migrate_oss_domain.py to --old-url/--new-url
  scripts/migrate_oss_domain.py
Due: none

chore(scripts): simplify migrate_oss_domain args to --old-url/--new-url
  scripts/migrate_oss_domain.py
Due: none

chore(scripts): simplify migrate_oss_domain args to --old-url/--new-url (#1416)
  scripts/migrate_oss_domain.py
Due: none

fix: close mobile quick-action popover on outside interactions (#1419)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/InteractionBlockM.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

feat: upgrade markdown-flow-ui version to 0.1.99 (#1420)
  src/cook-web/package-lock.json
  src/cook-web/package.json
Due: prettier-cook-web

fix: remove follow-up status setting
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: align dify ask context with llm
  src/api/flaskr/service/learn/ask_provider_adapters/dify_adapter.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
Due: none

fix: stabilize dashboard backend tests (#1408)
  src/api/tests/service/dashboard/test_dashboard_routes.py
Due: none

feat: record ask providers in langfuse
  src/api/flaskr/service/learn/ask_provider_langfuse.py
  src/api/flaskr/service/learn/handle_input_ask.py
  src/api/flaskr/service/shifu/route.py
  src/api/tests/service/learn/test_handle_input_ask_provider.py
  src/api/tests/service/shifu/test_ask_preview_route.py
Due: none

feat(shifu): add coze workflow ask provider
  src/api/flaskr/service/learn/ask_provider_adapters/__init__.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/registry.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_preview_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
Due: none

refactor(cook-web): extract ask settings section
  src/cook-web/src/components/shifu-setting/AskSettingsSection.tsx
  src/cook-web/src/components/shifu-setting/ShifuSetting.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: include manual zero-value orders in dashboard
  src/api/flaskr/service/dashboard/funcs.py
  src/api/tests/service/dashboard/test_dashboard_routes.py
Due: none

fix: align dashboard course list with orders table
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/dashboard/page.tsx
Due: prettier-cook-web, eslint

fix: add success filter to dashboard order jump
  src/cook-web/src/app/admin/dashboard/admin-dashboard-routes.ts
  src/cook-web/src/app/admin/dashboard/page.test.tsx
  src/cook-web/src/app/admin/orders/page.test.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

fix: localize ask provider config and simplify coze setup
  scripts/check_translation_usage.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/api/tests/service/user/test_utils.py
  src/cook-web/src/components/shifu-setting/AskSettingsSection.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

feat: default order page status filter to success (#1423)
  src/cook-web/src/__tests__/admin-orders-page.test.tsx
  src/cook-web/src/app/admin/orders/page.tsx
Due: prettier-cook-web, eslint

merge
  scripts/check_translation_usage.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_adapter.py
  src/api/flaskr/service/learn/ask_provider_adapters/coze_workflow_adapter.py
  src/api/flaskr/service/shifu/ask_provider_registry.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/user/utils.py
  src/api/tests/service/learn/test_ask_provider_adapters.py
  src/api/tests/service/shifu/test_ask_config_route.py
  src/api/tests/service/shifu/test_ask_provider_registry.py
  src/api/tests/service/user/test_utils.py
  src/cook-web/src/components/shifu-setting/AskSettingsSection.tsx
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/shifu-setting.json
  src/i18n/zh-CN/modules/shifu-setting.json
Due: prettier-cook-web, eslint

fix: replace require import in admin orders test to unblock build (#1424)
  src/cook-web/src/__tests__/admin-orders-page.test.tsx
Due: prettier-cook-web, eslint

feat: add lesson feedback flow for read and listen modes (#1421)
  src/api/flaskr/service/learn/const.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/lesson_feedback.py
  src/api/flaskr/service/learn/models.py
  src/api/flaskr/service/learn/routes.py
  src/api/migrations/versions/0e9b8c7d6a5f_add_bid_to_learn_lesson_feedbacks.py
  src/api/tests/service/common/test_storage.py
  src/api/tests/service/learn/test_context_v2.py
  src/api/tests/service/learn/test_learn_record.py
  src/api/tests/service/learn/test_lesson_feedback.py
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ContentBlock.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/LessonFeedbackInteraction.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useChatLogicHook.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/useListenMode.ts
  src/cook-web/src/c-api/studyV2.ts
  src/cook-web/src/c-common/tools/tracking.ts
  src/cook-web/src/types/i18n-keys.d.ts
  src/i18n/en-US/modules/backend/learn.json
  src/i18n/en-US/modules/chat.json
  src/i18n/zh-CN/modules/backend/learn.json
  src/i18n/zh-CN/modules/chat.json
Due: prettier-cook-web, eslint

chore: update migration version
  src/api/migrations/versions/e1b2c3d4e5f6_add_ask_provider_config_to_shifu.py
Due: none

chore: remove obsolete ask provider env config
  docker/.env.example.full
  docs/follow-up-model-and-kb-design.md
  src/api/flaskr/api/llm/dify.py
  src/api/flaskr/common/config.py
  src/api/scripts/README.md
  tasks.md
Due: none

feat(listen-player): auto-hide player after chapter entry and surface reactivation (#1426)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.css
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatUi.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenModeRenderer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.module.scss
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ListenPlayer.tsx
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/NewChatComp.tsx
Due: prettier-cook-web, eslint

Path conditions:
  prettier-cook-web: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
  eslint: any of: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
