Repository yfge/ai-shifu: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-cook-web, eslint

.pre-commit-config.yaml:

ci:
  skip: [eslint]  # Skip ESLint hooks in pre-commit.ci since not work
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: trailing-whitespace
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: pretty-format-json
        args: ['--autofix', '--indent=2', '--no-ensure-ascii', '--top-keys=langName']
        files: ^(src/web/public/locales/.*\.json|src/cook-web/public/locales/.*\.json)$
    -   id: requirements-txt-fixer
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.4  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
-   repo: local
    hooks:
    -   id: prettier-cook-web
        name: Prettier cook-web files
        entry: prettier
        language: node
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx|mjs|cjs|css|scss|md|json)$
        args: ['--write', '--config', 'src/cook-web/.prettierrc']
        additional_dependencies: ['prettier@^3.5.3']
-   repo: local
    hooks:
    -   id: eslint
        name: ESLint cook-web files (errors only)
        entry: bash -c 'cd src/cook-web && npm run lint-file -- $(echo "$@" | sed "s|src/cook-web/||g")' --
        language: system
        files: ^src/cook-web/.*\.(js|jsx|ts|tsx)$
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.35.0
    hooks:
    -   id: eslint
        name: ESLint web files (errors only)
        files: ^src/web/.*\.(js|jsx|ts|tsx)$
        args: [--config, src/web/eslint.config.cjs, --max-warnings=0, --fix]

feat: add compatibility for old block records and ask/answer interactions in mdflow (#817)
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/routes.py
Due: none

feat(next.config): disable image optimization to avoid Sharp dependence (#821)
  src/cook-web/next.config.ts
Due: prettier-cook-web, eslint

chore(cook-web): apply npm audit fixes
  src/cook-web/package-lock.json
Due: prettier-cook-web

fix(web): override path-to-regexp to 0.1.12 to address advisory
  src/web/package.json
  src/web/pnpm-lock.yaml
Due: none

fix(web): override on-headers to ^1.1.0 (compression transitive)
  src/web/package.json
Due: none

fix(web): override prismjs to ^1.30.0 (react-syntax-highlighter transitive)
  src/web/package.json
Due: none

fix(web): override nanoid to ^3.3.11 (postcss/autoprefixer transitive)
  src/web/package.json
Due: none

fix(web): override dompurify to ^3.2.6 (chatui transitive)
  src/web/package.json
Due: none

fix(web): override jsondiffpatch to ^0.7.2 (ai transitive)
  src/web/package.json
Due: none

fix(web): override nth-check to ^2.0.1 (svgo transitive)
  src/web/package.json
Due: none

chore(web): update pnpm-lock.yaml after overrides
  src/web/pnpm-lock.yaml
Due: none

fix(api): bump authlib to 1.6.5 (security patch)
  src/api/requirements.txt
Due: none

fix(api): bump Flask-Cors to 6.0.0 (address GHSA advisories)
  src/api/requirements.txt
Due: none

refactor(api): remove langchain usage and drop vulnerable packages
  src/api/flaskr/service/llm/funcs.py
  src/api/requirements.txt
Due: none

docs: Update README.md (#805)
  README.md
Due: none

fix: address Dependabot alerts across web and api (#823)
  src/api/flaskr/service/llm/funcs.py
  src/api/requirements.txt
  src/web/package.json
  src/web/pnpm-lock.yaml
Due: none

feat(cook-web/i18n): enable i18next-icu and add i18n:keys script; fix ICU instantiation
  src/cook-web/package-lock.json
  src/cook-web/package.json
  src/cook-web/src/i18n.ts
Due: prettier-cook-web, eslint

i18n(common): migrate to server.common; update backend usages, error mapping, locales metadata, and allowlist
  scripts/translation_unused_allowlist.txt
  src/api/flaskr/service/active/funcs.py
  src/api/flaskr/service/common/models.py
  src/api/flaskr/service/learn/output/handle_output_button.py
  src/api/flaskr/service/learn/output/handle_output_checkcode.py
  src/api/flaskr/service/learn/output/handle_output_continue.py
  src/api/flaskr/service/learn/output/handle_output_input.py
  src/api/flaskr/service/learn/output/handle_output_login.py
  src/api/flaskr/service/learn/output/handle_output_payment.py
  src/api/flaskr/service/learn/output/handle_output_phone.py
  src/api/flaskr/service/learn/output/ui_continue.py
  src/api/flaskr/service/learn/runscript.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/promo/funcs.py
  src/i18n/en-US/modules/backend/common.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/common.json
Due: none

style(scripts): apply ruff fixes for new Python scripts
  scripts/generate_languages.py
  scripts/update_i18n.py
  src/cook-web/package.json
  src/i18n/locales.json
Due: prettier-cook-web

refactor: move common messages to shared json
  src/api/flaskr/i18n/en-US/common/errors.py
  src/api/flaskr/i18n/en-US/common/message.py
  src/api/flaskr/i18n/zh-CN/common/errors.py
  src/api/flaskr/i18n/zh-CN/common/message.py
  src/i18n/en-US/backend-common.json
  src/i18n/locales.json
  src/i18n/zh-CN/backend-common.json
Due: none

chore(pre-commit): update config (add backend CJK guard hook)
  .pre-commit-config.yaml
  docs/i18n-migration-playbook.md
Due: none

docs: record i18n phase 0 decisions
  docs/i18n-phase0-decisions.md
Due: none

i18n(admin): switch namespace to server.admin; update locales metadata and allowlist
  scripts/translation_unused_allowlist.txt
  src/i18n/en-US/modules/backend/admin.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/admin.json
Due: none

refactor: move course errors to shared json
  src/api/flaskr/i18n/en-US/course/errors.py
  src/api/flaskr/i18n/zh-CN/course/errors.py
  src/i18n/en-US/backend-course.json
  src/i18n/locales.json
  src/i18n/zh-CN/backend-course.json
Due: none

i18n(profile): remove unused server.profile.* enum keys; keep only labels used by backend
  src/i18n/en-US/modules/backend/profile.json
  src/i18n/zh-CN/modules/backend/profile.json
Due: none

chore(i18n): prune legacy module.backend.common.* from unused allowlist after server.common migration
  scripts/translation_unused_allowlist.txt
Due: none

fix(cook-web): replace obvious literals with i18n keys (Dialog/Sheet/Breadcrumb/Social/ChatInputSmsCode) and add missing translations (en-US/zh-CN/qps-ploc)
  src/cook-web/src/app/c/[[...id]]/Components/ChatUi/ChatInput/ChatInputSmsCode.tsx
  src/cook-web/src/components/social/Social.tsx
  src/cook-web/src/components/ui/Breadcrumb.tsx
  src/cook-web/src/components/ui/Dialog.tsx
  src/cook-web/src/components/ui/Sheet.tsx
  src/i18n/en-US/common/core.json
  src/i18n/en-US/modules/social.json
  src/i18n/qps-ploc/common/core.json
  src/i18n/qps-ploc/modules/social.json
  src/i18n/zh-CN/common/core.json
  src/i18n/zh-CN/modules/social.json
Due: prettier-cook-web, eslint

refactor(server): course->shifu and lesson->outline groundwork (aliases + code), migrate learn/course/file/discount/pay/llm/check/scenario; keep checks green
  scripts/check_translation_usage.py
  src/api/error_codes.json
  src/api/flaskr/api/llm/__init__.py
  src/api/flaskr/i18n/__init__.py
  src/api/flaskr/service/check_risk/funcs.py
  src/api/flaskr/service/learn/context.py
  src/api/flaskr/service/learn/context_v2.py
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/learn/output/handle_output_goto.py
  src/api/flaskr/service/learn/runscript.py
  src/api/flaskr/service/learn/runscript_v2.py
  src/api/flaskr/service/lesson/funcs.py
  src/api/flaskr/service/llm/funcs.py
  src/api/flaskr/service/order/coupon_funcs.py
  src/api/flaskr/service/order/funs.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/promo/funcs.py
  src/api/flaskr/service/shifu/funcs.py
  src/api/flaskr/service/user/user.py
Due: none

docs: mark backend migration tasks complete
  tasks.md
Due: none

ci: add translation checks workflow
  .github/workflows/translations-check.yml
Due: none

refactor: move lesson constants/errors to shared json
  src/api/flaskr/i18n/en-US/lesson/consts.py
  src/api/flaskr/i18n/en-US/lesson/errors.py
  src/api/flaskr/i18n/zh-CN/lesson/consts.py
  src/api/flaskr/i18n/zh-CN/lesson/errors.py
  src/i18n/en-US/backend-lesson.json
  src/i18n/locales.json
  src/i18n/zh-CN/backend-lesson.json
Due: none

docs: convert i18n tasks to checklists
  tasks.md
Due: none

refactor(server): migrate shifu service to server.shifu.*
  src/api/flaskr/service/learn/learn_funcs.py
  src/api/flaskr/service/shifu/adapter.py
  src/api/flaskr/service/shifu/route.py
  src/api/flaskr/service/shifu/shifu_block_funcs.py
  src/api/flaskr/service/shifu/shifu_draft_funcs.py
  src/api/flaskr/service/shifu/shifu_mdflow_funcs.py
  src/api/flaskr/service/shifu/shifu_outline_funcs.py
  src/api/flaskr/service/shifu/shifu_publish_funcs.py
  src/api/flaskr/service/shifu/shifu_struct_manager.py
Due: none

chore: align cook web i18n scripts
  src/cook-web/src/scripts/generate-languages.js
  src/cook-web/src/scripts/update-i18n.js
  tasks.md
Due: prettier-cook-web, eslint

feat: serve i18n namespaces via api
  src/cook-web/src/app/api/i18n/[lng]/[ns]/route.ts
  src/cook-web/src/app/api/i18n/[lng]/route.ts
  src/cook-web/src/i18n.ts
  src/cook-web/src/lib/i18n-locales.ts
  src/i18n/locales.json
  tasks.md
Due: prettier-cook-web, eslint

refactor: move admin errors to shared json
  src/api/flaskr/i18n/en-US/admin/errors.py
  src/api/flaskr/i18n/zh-CN/admin/errors.py
  src/i18n/en-US/backend-admin.json
  src/i18n/locales.json
  src/i18n/zh-CN/backend-admin.json
Due: none

fix: restore implicit translation namespace
  src/cook-web/src/app/api/i18n/route.ts
  src/cook-web/src/i18n.ts
  src/cook-web/src/lib/unified-i18n-backend.ts
Due: prettier-cook-web, eslint

i18n(user): switch namespace to server.user; update locales metadata and allowlist
  scripts/translation_unused_allowlist.txt
  src/i18n/en-US/modules/backend/user.json
  src/i18n/locales.json
  src/i18n/zh-CN/modules/backend/user.json
Due: none

refactor(api/profile): migrate translations to server.profile.* and server.common.*
  src/api/flaskr/service/profile/funcs.py
  src/api/flaskr/service/profile/profile_manage.py
  src/api/flaskr/service/profile/routes.py
Due: none

docs: add i18n key standardization tasks
  tasks.md
Due: none
